body{
    background-color: lightgreen;
    color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:white;
    color: black;
}
nav h1{
    font-size: 24px;
    margin: 0;
}
.container{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;

}
.content{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    padding: 10px;
    margin-top: 20px;    
}
.content img{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
