.container{
    width:330px;
    height: 330px;
    border:2px solid black;
    display:grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 100px auto;
    gap:5px;
}
.item1{
    background-color: aliceblue;
}
.item2{
    background-color: aquamarine;
}
.item3{
    background-color: coral;
}
.item4{
    background-color: darkgoldenrod;
}
