.option{
    font-size: 50px;
}

.button{
    width:2px;
    height:2px;
}


.container{
    width: 300px;
    height: 300px;
    border:10px solid black;
    position: relative;
    overflow: hidden;
}
div>img{
    width: 100%;
    height: 100%;
    /* fliter: blur(2px); */
}
.text{
    background-color: red;
    position: absolute;
    top:0px;
    left:0px;
    margin:0px;
    font-size: 1.5rem;
    transform: translateX(100%);
    transition: all is linear 0s;
}
.container:hover .text{
    transform: translateX(0px);
    opacity: 1;
}



