.card{
    width:300px;
    border:2px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.image{
    width:100%;
    height:200px;
}
.container{
    border:10px solid red;
    display: flex;
    justify-content: center;
    gap:40px
    align-items: center;
    flex_warap: wrap-reverse;
}

