.box{
    width: 300px;
    height: 200px;
    background-color: red;
    padding-top: 100px;
    padding: 100px 100px 100px 100px;

}
.box1{
    width: 300px;
    height: 200px;
    background-color: blue;
    margin-top: 100px;
    margin: 100px 100px 100px 100px;

}
.box2{
    width: 300px;
    height: 200px;
    background-color: green;
    border-top: 100px solid yellow;
    border-right: 100px solid yellow;
    border-bottom: 100px solid yellow;
    border-left: 100px solid yellow;

}
.box3{
    width: 300px;
    height: 200px;
    background-color: purple;
    border-width: 50px 20px 10px 5px;
    border-style: solid;
    border-color: orange;

}
.box4{
    width: 300px;
    height: 200px;
    background-color: pink;
    border: 20px dashed brown;

}
.box5{
    width: 300px;
    height: 200px;
    background-color: grey;
    border: 30px solid black;
    border-radius: 10px 20px 30px 40px;


}
.box6{
    width: 300px;
    height: 200px;
    background-color: cyan;
    border: 40px dotted magenta;
    outline: 10px dotted navy;

}
.box7{
    width: 300px;
    height: 200px;
    background-color: lime;
    outline: 15px solid olive;
    outline-offset: 20px;

}
.box8{
    width: 300px;
    height: 200px;
    background-color: teal;
    border: 20px solid maroon;
    box-shadow: 10px 10px 5px grey;

}
.box9{
    width: 300px;
    height: 200px;
    background-color: silver;
    box-shadow: 15px 15px 10px black, -15px -15px 10px black;

}